<h1>{{title}}</h1>
<div class="info">
    <h3>List of all restaurants</h3>
    <a href="/restaurants/new">Create new restaurant</a>
    <ul>
        {{#each restaurants}}
        <li>
            <a href="/restaurants/{{ this._id}}">{{ this.name}}</a>
            |
            <a href="/restaurants/{{ this._id}}/delete">Delete</a>
        </li>
        {{/each }}
    </ul>
    {{!-- add map here --}}
</div>
{{!-- added your scripts here --}}
  