<h3 id="restaurantName" data-id="{{ restaurant.id}}">{{ restaurant.name}}</h3>
<p>{{ restaurant.description}}</p>
<a href="/restaurants/{{restaurant._id}}/edit">Edit this restaurant</a>
<a href="/restaurants">Go back to the list</a>
<div id="map"></div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDt7xKPA7bOxEwA0P_Mw9_0X29OS2MQB8I"></script>

<script type="text/javascript" src="/javascripts/show.js"></script>